body {
    background-color: #0b0e14;
}

* {
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #bfbdb6;
}

code {
    font-family: monospace, sans-serif;
    background-color: #283040;
}

textarea {
    background-color: #283040;
    color: white;
    outline: none;
    border: none;
}

ul.dashed {
    padding-left: 10px;
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -7px;
}

ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
}

.title {
    width: 99%;
    padding: 1px;
    border-bottom: 2px white solid;
}

.article-title-heading {
    display: inline;
}

.dark {
    color: #878477;
}

input, button {
    background-color: #0d1017;
    color: #bfbdb6;
    border: 1px solid #234;
    padding: 0.25rem;
    outline: none;
}

input:hover, button:hover {
    border: 1px solid #e6b450;
}