body {
    background-color: #0b0e14;
}

* {
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #bfbdb6;
}

code {
    display: block;
    background: #1e2430;
    font-family: monospace;
    font-size: 1.4em;
    border: 1px solid #ccc;
    padding: 10px;
}

textarea {
    background-color: #283040;
    color: #FFF;
    outline: none;
    border: none;
}

small {
    font-size: .7em;
}

ul.dashed {
    padding-left: 10px;
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -7px;
}

ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
}

.title {
    width: 99%;
    border-bottom: 2px #FFF solid;
    padding: 1px;
}

.article-title-heading {
    display: inline;
    vertical-align: center;
}

.dark {
    color: #878477;
}

input, button {
    background-color: #0d1017;
    color: #bfbdb6;
    border: 1px solid #234;
    outline: none;
    padding: .25rem;
}

input:hover, button:hover {
    border: 1px solid #e6b450;
}

.content {
    padding-left: 20px;
    max-width: 1000px;
}