body {
    background-color: #0b0e14;
}

* {
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #bfbdb6;
}

code {
    font-family: monospace, sans-serif;
    background-color: #283040;
}

textarea {
    background-color: #283040;
    color: white;
}

ul {
    margin: 0;
    padding-left: 8px;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
}

.title {
    width: 99%;
    padding: 1px;
    border-bottom: 2px white solid;
}

.article-title-heading {
    display: inline;
}

.centered-text {
    padding-right: 10em;
    padding-left: 10em;
    margin: auto;
    flex: 1 0;
}

.dark {
    color: #878477;
}

input {
    font-family: monospace;
    background-color: #0d1017;
    color: #bfbdb6;
    border: 1px solid #234;
    font-size: inherit;
    padding: 0.25rem;
}

button {
    font-family: monospace;
    background-color: #0d1017;
    color: #bfbdb6;
    border: 1px solid #234;
    font-size: inherit;
    padding: 0.25rem;
}

button:hover {
    font-family: monospace;
    background-color: #0d1017;
    color: #bfbdb6;
    border: 1px solid #e6b450;
    font-size: inherit;
    padding: 0.25rem;
}